<% include ../partials/header %>

<!-- Page Header -->
<header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Write</h1>
                    <span class="subheading mb-10"><% if (!req.isAuthenticated()) { %>Write something.<% } else { %>Follow Topics.<% } %></span>
                    <div class="clearfix flex jc-center">
                        <a class="btn btn-primary float-right" href="/topics">Explore &rarr;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<% include ../partials/footer %>


<!--<% include ../partials/header %>-->

<!--<div id="main" class="jumbotron">-->
    <!--<div class="container pd-zero">-->
        <!--<h1 class="text-center mb-20 bold ls-5 fs-5">TIV</h1>-->
        <!--<p class="lead text-center mb-20 ls-2"><% if (!req.isAuthenticated()) { %>Upload something.<% } else { %>Follow Topics.<% } %></p>-->
        <!--<div class="text-center">-->
            <!--<a class="btn btn-outline-secondary btn-lg" href="/topics" role="button">Explore</a>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--<% include ../partials/footer %>-->














